:root{
	--background: #c3c0ba;
	--white: #fff;
	--one: #78281F;
	--two: #CD6155;
	--black: #54585d;
}

* {
  font-family: "Cambria", sans-serif;
  font-size: 16px;
  box-sizing: border-box;
  margin:0px; 
  padding:0px;
}

body {
  background: var(--background); 
}

.resume-main{
  width: 1200px; 
  background: linear-gradient(var(--one), var(--two));
  margin: 0px auto;
  box-shadow:5px 5px 5px 5px #54585d33;
  display: flex;
}

.left-box{
  width: 25%;
  float: left;
  padding: 25px;
  color: var(--white);
}

.left-box h2 {
  font-weight: 500;
  text-transform: uppercase;
  border-bottom: 2px solid var(--white);
  margin-top: 10px;
  margin-bottom: 4px;
}

.left-box a {
  color: var(--white);
}

.right-box{
  width: 75%; 
  float: left; 
  margin:20px 0px;
  padding: 40px;
  color: var(--black); 
  background-color: var(--white); 
  border-radius: 50px 0px 0px 50px; 
  box-shadow: -7px 2px 15px 2px #54585d52;
}

.right-box h2 { 
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
  color: var(--one);
  border-bottom: 2px solid var(--one);
  margin-top: 20px;
  margin-bottom: 10px;
}

.title {
  font-size: 40px; 
  text-align: center;
}

.subtitle {
  font-size: 20px; 
  text-align: center;
}

ul {
  padding-left: 1em;
}

.item ul {
  display: grid;
  grid-template-columns: 35% 65%;
  list-style-type: none;
  padding-left: 0;
}

.item li:nth-child(4n+1), 
.item li:nth-child(4n+2) {
  font-weight: 700;
}

.item li:nth-child(4n+3),
.item li:nth-child(4n+4) {
  margin-bottom: 10px;
}

.item li:nth-child(4n+3) {
  font-style: italic;
}

@media print {
    .csl-entry {
        page-break-inside: avoid;
    }
}
